# 基础配置
CONTAINER_NAME="trade-postgresql"
DB_NAME="MyDB"
DB_USER="sean"
DB_PASSWORD="1dU4JDFW7OyeMrfm"

# 备份保存目录与保留策略
BACKUP_DIR="/home/user/backups/postgres"
RETENTION_COUNT=3

# 定义要执行的上传目标
UPLOAD_TARGETS=(R2_MAIN)

R2_MAIN_S3_PROVIDER=Cloudflare
R2_MAIN_S3_ENDPOINT="https://151172ef838f73d5928d316f0f01fba7.r2.cloudflarestorage.com"
R2_MAIN_S3_BUCKET="temp"
R2_MAIN_S3_REGION="auto"
R2_MAIN_S3_FORCE_PATH_STYLE=true
R2_MAIN_S3_ACCESS_KEY="5b31ed4550f0df15078bd8d72d880dc8"
R2_MAIN_S3_SECRET_KEY="a8a371406f964bc8731c3c53d03f1435abce5057245fd627e0e4507963919b2b"


